<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>רשימת משתמשים</title>
  <link rel="stylesheet" href="bpm.css">
</head>
<body>
<h1>רשימת משתמשים</h1>

<table border="1">
  <thead>
  <tr>
    <th>שם משתמש</th>
    <th>ממוצע לחץ דם סיסטולי</th>
    <th>ממוצע לחץ דם דיאסטולי</th>
    <th>כמות חריגות</th>
  </tr>
  </thead>
  <tbody id="usersTable">
  <!-- הנתונים יוטענו כאן -->
  </tbody>
</table>

<script src="bpm.js"></script>
</body>
</html>
