<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Blood Pressure </title>
    <link rel="stylesheet" href="bpm.css">
    <script src="bpm.js" defer></script>
</head>
<body onload="getUsers()">
<aside class="sidenav">
    <div class="logo">
        <i class="fas fa-heartbeat"></i>
        <span>BPM App</span>
    </div>
    <nav>
        <ul>
            <li><a href="home.html" class="active"><i class="fas fa-home"></i><span>Dashboard</span></a></li>
            <li><a href="addMeasures.html"><i class="fas fa-plus-circle"></i><span>Add Measures</span></a></li>
            <li><a href="historyMeasures.html"><i class="fas fa-history"></i><span>History Measures</span></a></li>
            <li><a href="allUsers.html"><i class="fas fa-users"></i><span>All Patients</span></a></li>
        </ul>
    </nav>
</aside>

<main class="main-content">
    <h1 class="page-title">History Measures</h1>
    <section class="content">
        <div class="form-container-measures glossy">
            <div class="form-group">
                <label for="selectPatients">Select Patient</label>
                <div class="input-field">
                    <select id="selectPatients"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate">Select Start Date:</label>
                <div class="input-field">
                    <input type="date" id="startDate" name="date">
                </div>
            </div>
            <div class="form-group">
                <label for="endDate">Select End Date:</label>
                <div class="input-field">
                    <input type="date" id="endDate" name="date">
                </div>
            </div>
            <button onclick="CreateMeasuresTable()">Search</button>
        </div>

        <div class="table-container glossy">
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Systolic</th>
                        <th>Diastolic</th>
                        <th>Pulse</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="MeasuresTable"></tbody>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>
